html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar {
    background-color: #0033A0;
}

.navbar-brand, .nav-link {
    color: white;
}

.table_header_sortable {
    color: black;
    text-decoration: none;
}

.link-divider {
    margin: 0;
    display: block;
    padding: .5rem 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    color: #0d6efd;
    text-decoration: none;
    color: white
}